.app {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;

    .sidebar {
        background-color: antiquewhite;
        min-width: 300px;
        width: 30%;
        height: 100%;
        overflow-y: auto;
    }

    .main {
        flex-grow: 1;
        height: 100%;
    }
}